{% extends "base.html.twig" %}

{% block body %}

{% if actividades|length == 0 %}
    No hay actividades
{% else %}

<a href="{{ path('actividades_new')}}" class="btn btn-info">Nueva actividad</a>

<h3>Lista de los actividades de cielos abiertos</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Actividad</th>
      <th scope="col">Fecha</th>
      <th scope="col">Controla</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     {% for actividad in actividades %}
    <tr>
      <th scope="row">{{actividad.id}}</th>
      <td>{{actividad.nombre}}</td>
      <td>{{actividad.fecha | date('d/m/Y') }}</td>
      <td>
      {% for miembro in actividad.getMiembros() %}
      <label class="btn btn-outline-primary">{{ miembro.getNombre() }}</label>
      {% endfor %}
      </td>
      
      
      <td><a href="{{ path('eliminar_actividad',{'id': actividad.id}) }}" class="btnEliminarActividad btn btn-danger">x</a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}

{% block javascripts %}
{{parent()}}

<script>
  $(".btnEliminarActividad").click(function(){
    return confirm('Esta seguro de que quiere elimar esta actividad?');
  })
</script>
{% endblock %}
